@import "tailwindcss";

:root {
  --background: #fdf9f6;
  --text: #1a202c;
  --primary: #1b95a3;
  --accent: #fcaa26;
  --second-primary: #10517d;
  --secondary-text: #6b7280;
  --secondary-background: #ffffff;

}


@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-second-primary: var(--second-primary);
  --color-accent: var(--accent);
  --color-secondary-text: var(--secondary-text);
  --color-secondary-background: var(--secondary-background);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
}

body {
  background: var(--secondary-background);
  color: var(--text);
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
}

@layer components {
  .primary_btn {
    @apply py-2 px-6 bg-primary text-secondary-background rounded-md lg:rounded-full cursor-pointer transition-colors duration-300 ease-linear;
  }

  .link_css {
    color: var(--primary);
    transition: 0.3s ease-in-out;
    &:hover {
      text-decoration: underline;
      transition: transform 0.3s ease-in-out;
    }
  }
}


